<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码页面</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="message" class="alert alert-danger alert-dismissable">重设密码
    <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">
        &times;
    </button>
    <span id="changePwd_Message" th:text="${CHANGEPWD_MESSAGE}"></span>
</div>
<div class="container" style="height: 130ex">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    重设密码 <small>私人定制系统</small>
                </h1>
            </div>
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <form role="form" action="/customer/changePassword" method="post" name="signUpForm">
                        <h4>
                            确认身份信息
                        </h4>
                        <hr>
                        <div class="form-group">
                            <label for="loginName">用户名</label><input type="text" name="loginName"
                                                                     required="required"
                                                                     class="form-control"
                                                                     id="loginName"/>
                        </div>
                        <div class="form-group">
                            <label for="mobilePhone">手机</label><input type="text" name="mobilePhone" required="required"
                                                                      class="form-control"
                                                                      maxlength="11"
                                                                      id="mobilePhone"/>
                        </div>
                        <br>
                        <h4>
                            新密码
                        </h4>
                        <hr>
                        <div class="form-group">
                            <label for="password">密码</label><input type="password" name="password" required="required"
                                                                   class="form-control"
                                                                   id="password"/>
                        </div>
                        <br>
                        <button type="submit" id="button" class="btn btn-default" onclick="check(this.form)">确认
                        </button>
                    </form>
                </div>
                <div class="col-md-6 column" style="text-align: center">
                    <img width="300" height="300" style="margin-top: 50px"
                         src="https://mp.baomidou.com/img/logo.png"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var changePwdMessage = $("#changePwd_Message").text();
    console.log(changePwdMessage);

    function check(form) {
        if (isPhoneAvailable($("#mobilePhone")) && (!$("#password").val().equals('')) && (!$("#customerName").val().equals('')) && (changePwdMessage.equals(''))) {
            document.signUpForm.submit();
        } else {
            $("#button").attr("disabled", true);
        }

        setTimeout(function () {
            $("#button").attr("disabled", false)
        }, 3000);

    }

    function isPhoneAvailable($poneInput) {
        var myReg = /^[1][3,4,5,6,7,8][0-9]{9}$/;
        if (!myReg.test($poneInput.val())) {
            alert("请输入正确的手机号");
            return false;
        } else {
            return true;
        }
    }


</script>
</body>
</html>